<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ComputerCaddy" connectionString="Server=tcp:cchang2023.database.windows.net,1433;Database=ComputerCaddy; User ID=cchang30@cchang2023; Password=Cadc_0504;Trusted_Connection=False; Encrypt=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>